<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Perfil</th>
          <th scope="col">Idade</th>
          <th scope="col">Email</th>
          <th scope="col">Ativo</th>
          <th scope="col">País</th>
          <th scope="col">Nível de Experiência</th>
          <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of profiles">
        <th scope="row">{{ profile.id }}</th>
        <td>{{ profile.name }}</td>
        <td>{{ profile.role }}</td>
        <td>{{ profile.age }}</td>
        <td>{{ profile.email }}</td>
        <td>{{ profile.ativo ? 'Sim' : 'Não'}}</td>
        <td>{{ profile.pais }}</td>
        <td>{{ profile.nivelExperiencia }}</td>
        <td>
            <a class="btn btn-primary btn-sm me-2" routerLink="/profile/edit/{{profile.id}}">Editar</a>
            <button class="btn btn-danger btn-sm" (click)="deleteProfile(profile.id)">Excluir</button> 
            
        </td>
      </tr>
    </tbody>
</table>

<a class="btn btn-dark" routerLink="/profile/create">Cadastrar</a>
